body {
  background-color: rgb(149, 149, 149);
  font-family: "Lucida Sans Unicode";
}

.title {
  text-align: center;
  font-family: "Lucida Console";
  text-transform: uppercase;
  text-decoration: underline #EA8E13;
  font-size: 3rem;
  letter-spacing: 15px;
}

#canvas1, #canvas2 {
  background-color: black;
}

.canvas-width {
  display: inline-grid;
  width: 600px;
  padding-left: 50px;
  padding-right: 50px;
}

.center {
  text-align: center;
}

.score {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  font-size: 25px;
}

.controls {
  float: left;
  font-size: 1.5rem;
}

.info {
  background-color: rgb(0, 0, 0);
  width: 15%;
  border: 3px solid rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  position: absolute;
  transform: translateX(25px);
  visibility: hidden;
}

.controls:hover + .info {
  visibility: visible;
}

.bold {
  font-weight: bold;
}




/* .footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #dadada;
} */
