.heading {
  width: 600px;
}

h1 {
  text-align: center;
}

canvas {
  background-color: black;
}

.score {
  font-weight: bold;
  font-size: 25px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #dadada;
}
